@use '../partials/typography' as *;
@import "../partials/mixins";
@import "../partials/partials";
@import "../App";

.about {
    padding: 5rem 2rem 0;
    height: 92vh;
    @include tablet {
        padding: 0 4rem;
        max-width: 70vw;
    }
    @include desktop {
        padding: 0 6rem;
        min-width: 50rem;
    }
}