@use '../partials/typography' as *;
@import "../partials/mixins";
@import "../partials/partials";
@import "../App";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: none;
    height: 5rem;
    &__credit {
        color: $em;
        font-size: 1rem;
    }
    &__img {
        width: 2rem;
        height: 2rem;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        width: 5rem;
        margin-top: -1rem;
    }
}

