@use '../partials/typography' as *;
@import "../partials/mixins";
@import "../partials/partials";
@import "../App";

.hero {
    &__container {
        padding: 0 2rem;
        @include tablet {
            padding: 0 4rem;
            height: 50vh;
            min-height: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include desktop {
            padding: 0 6rem;
        }
    }
    &__h1 {
        font-size: 3rem;
        line-height: 3.25rem;
    }
    &__p {
        font-size: 1.5rem;
        line-height: 1.75rem;
        padding: 1rem 0;
        @include desktop {
            width: 50vw;
            max-width: 45rem;
        }
    }
    &__link {
        padding: 1rem 0 0;
        line-height: 2rem;
        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);

        }
    }
}