@use '../partials/typography' as *;
@import "../partials/mixins";
@import "../partials/partials";
@import "../App";



.hero {
    padding-top: 5rem;
    &__container {
        padding: 0 2rem;
        @include tablet {
            padding: 0 4rem;
            height: 50vh;
            min-height: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-size: cover;
        }   
        @include desktop {
            padding: 0 6rem;
        }
    }
    &__p {
        max-width: 50rem;
    }
    &__link {
        padding: 1rem 0 0;
        line-height: 2rem;
        &:hover {
            animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) infinite;
            transform: translate3d(0, 0, 0);
        }
    }
}