@use '../Partials/typography' as *;
@import "../Partials/mixins";
@import "../Partials/partials";
@import "../App";


.home-projects {
    padding: 2rem;
    @include tablet {
        padding: 0 4rem;
        
    }
    @include desktop {
        padding: 0 6rem;
    }
    &__map {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            max-width: 90vw;
        }
    }

    &__img {
        border-radius: 1.5rem;
        max-width: 85vw;
        margin: 1rem 0;
        @include tablet {
            max-width: 20rem;
            margin: 1.5rem;
        }
    }
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        text-transform: uppercase;

    }
    &__more {
        &:hover {
            animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) infinite;
            transform: translate3d(0, 0, 0);
        }
    }
}
