@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    
  }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;

  }
}


/* Animations */

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(6px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

