@use 'mixins' as *;
@use 'partials' as *;

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-HeavyIt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-HeavyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-BoldIt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-Thin.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-MediumIt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-It.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-Light.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-UltLtIt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-UltLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-ThinIt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-UltLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../Assets/Fonts/AvenirNextLTPro-LightIt.woff2') format('woff2'),
        url('../Assets/Fonts/AvenirNextLTPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    
  }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;

  }
}